<html>
    <head>
        <title>Home page</title>
       
    </head>
    <body>
        <div class="container">
                <h3>Create  a new department </h3>
                <form method="POST", action="/newdep">
                    <label>department name</label><br>
                    <input type="text" name="name"><br>
        
                    <label>department no</label><br>
                    <input type="number", name="no"><br><br>
        
                    <input type="submit">
                </form>
        </div>
        
    </body>
</html>