<html>
    <head>
        <title>Home page</title>
    </head>
    <body>

        <h3>Create new student</h3>
        <form method="POST", action="/newstd">
            <label>student first name</label><br>
            <input type="text" name="fname"><br>

            <label>student last name</label><br>
            <input type="text" name="lname"><br>
            
            <label>student no</label><br>
            <input type="number", name="no"><br>

            <label>Birthdate</label><br>
            <input type="date", name="bdate"><br>

            <label> department number</label><br>
            <input type="number", name="dno"><br><br>
            
            <input type="submit">
        </form>
    </body>
</html>